.noti-container {
  background: white;
  color: black;
  width: 400px;
  height: 100px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-align: center;
  position: relative;
  animation: slideFromRight 0.5s forwards;
}
.noti-content {
  text-align: left;
  padding: 16px;
  position: relative;
}
.noti-content::after {
  content: "\00D7";
  position: absolute;
  top: 2px;
  right: 5px;
}
.progress-bar {
  margin-top: 20px;
  background-image: linear-gradient(
    -225deg,
    rgb(88, 88, 203),
    rgb(60, 131, 60)
  );
  height: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500%);
  }
}
.slideout {
  animation: slideOut 0.5s forwards;
}
.last-noti {
  opacity: 1;
}
.not-last-noti {
  opacity: 0.3;
}
